.popup__submit_button-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

@media screen and (max-width:767px) {
    .popup__submit_button-text {
        font-size: 14px;
        line-height: 17px;
    }

}