.popup__close_button {
    width: 32px;
    height: 32px;
    background: url(../../../images/close__icon.svg);
    padding: 0;
    border: 0;
    cursor: pointer;
}

.popup__close_button:hover {
    opacity: 0.6;
    transition: .5s;
}

@media screen and (max-width:767px) {
    .popup__close_button {
        width: 20px;
        height: 20px;
        background-size: cover;
    }

}